* {
	margin: 0;
	padding: 0;

	/* box-sizing: border-box; */
}


.tabs ul {
	list-style: none;
}

/*定义盒子*/
.tabs {
	width: 700px;
	height: 200px;
}

/*导航横排*/
.tabs .tab_nav {
	display: flex;
}

/*导航块样式*/
.tabs .tab_nav li {
	padding: 10px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #e5e9ea;
	margin-right: 2px;
	color: #607291;
	cursor: pointer;
	display: flex;
	position: relative;
	overflow: hidden;
}

/*导航块图标*/
.tabs .tab_nav li img {
	width: 20px;
	margin-right: 5px;
	opacity: 0.3;
	transition: opacity 0.3s;
}

/*设置导航块效果 */
.tabs .tab_nav li:hover img {
	opacity: 1;
}

.tabs .tab_nav li h2 {
	font-size: 14px;
}

.tabs .tabNav_active {
	background: #f9f9f9 !important;
}

.tabs .tabNav_active img {
	opacity: 1 !important;
}

/*面板界面*/
.tabs .tab_box {
	position: relative;
	min-height: 150px;
	padding: 2em;
	color: #607291;
	background: #f9f9f9;
	box-shadow: 2px 2px 2px #5c5c5c;
}

/*面板块*/
.tabs .tab_box li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex !important;
	align-items: center;
	padding: 15px;
	overflow: hidden;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease-in;
}

/*面板图片*/
.tabs .tab_box li img {
	width: 128px;
}

/*设置面板过渡效果*/
.tabs .tabBox_active {
	visibility: visible !important;
	opacity: 1 !important;
}

/*面板内容样式*/
.tabs .tab_box li div {
	width: 100%;
	height: 128px;
	position: relative;
	margin-left: 20px;
}

.tabs .tab_box li h2 {
	position: absolute;
	top: 0;
}

/*文本溢出隐藏效果*/
.tabs .tab_box li p {
	margin-top: 40px;
	line-height: 1.5em;
	text-indent: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.tabs .tab_box li button {
	width: 110px;
	height: 35px;
	border: 1px solid #2196f3;
	float: right;
	cursor: pointer;
	margin-top: 10px;
	background: transparent;
	outline: none;
}

.tabs .tab_box li button a {
	display: block;
	color: #2196f3;
	text-decoration: none;
}